img {
  padding: 0 5px;
  margin-left: 10px;
  border-left: 2px solid #999;
}

.arrowDown {
  border: none;
  margin: 0;
}

.loginLink {
  color: #973B6D;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px
}