.font {
  font-family: 'Lato', sans-serif;
}

.arrowDown {
  border: none;
  margin: 0;
  padding: 0;
}

.guidLine {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
}

.resendLink {
  img {
    margin-right: 5px;
    border: none;
  }

  .resend {
    font-size: 14px;
    color: #999;
    text-decoration: none;
  }
}

.input {
  width: 100%;
  outline: none;
  display: block;
  font-size: 40px;
  margin: 0 10px;
  font-weight: bold;
  color: #B1B1B1;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #E9E9E9;
  font-family: 'Lato', sans-serif;
}