.container {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  padding-bottom: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Images/about_background.svg");

  @media (max-width: 992px) {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;

    h1 {
      max-width: 220px;
      font-size: 50px;
      color: #973B6D;
      font-weight: bold;
      margin-top: 35px;
    }

    p {
      color: #973B6D;
      margin-top: 50px;
      font-size: 22px;
    }
  }

  .features {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      width: auto;
    }

    .feature {
      width: 30%;
      display: flex;
      min-width: 150px;
      margin-top: 35px;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .featureContainer {
        width: 60px;
        height: 60px;
        border: 1px solid #973B6D;
        border-radius: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 20px;
          cursor: pointer;
        }
      }

      h4 {
        color: #973B6D;
        font-weight: 900;
        font-size: 18px;
        margin-top: 25px;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}