.container {
  display: flex;
  flex-direction: column;
  background-color: #221639;
  border-radius: 20px;

  .others {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  img {
    width: 75px;
  }

  .icons {
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    @media (max-width: 992px) {
      flex-direction: column;
    }

    .icon {
      color: #fff;
    }

    .icon:hover {
      color: #e72c83;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;

    @media (max-width: 992px) {
      width: 90%;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
    }

    .features {
      cursor: pointer;
      padding: 30px;

      @media (max-width: 992px) {
        width: 140px;
        padding: 20px;
      }

      a {
        margin-left: 5px;
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        opacity: 0.8;
      }

      a:hover {
        color: #fff;
        font-weight: 500;
        opacity: 1;
      }
    }
  }

  button {
    width: 100px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    opacity: 0.7;
    border: 1px solid #fff;

    @media (max-width: 992px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

  }

  .circleContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media (max-width: 992px) {
      margin-bottom: 10px;
    }

    .circle1 {
      width: 20px;
      height: 20px;
      background-color: #fff;
      cursor: pointer;
      border: solid 1px #fff;
      border-radius: 50%;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;

      @media (max-width: 992px) {
        margin-bottom: 10px;
      }

      svg {
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        border-color: #1877f2;
        transform: scale(1.05);

        svg {
          color: #1877f2;
        }


        &:nth-child(2) {
          border-color: #c13584;

          svg {
            color: #c13584;
          }
        }
      }
    }
  }

  .circle1:hover {
    background-color: #1877f2;

    :first-child {
      color: #fff;
    }
  }

  .copyRights {
    width: 100%;
    height: 38px;
    background-color: #C65FAA;
    text-align: center;
    margin-bottom: 30px;

    p {
      color: #fff;
      margin-top: 5px;
      font-weight: 500;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}