header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        margin: auto;
        font-size: 50px;
        font-weight: bold;
    }
}
.leftBorder, .rightBorder {
    // width: 40%;
    padding: 20px 0;
}
