.container {
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;

    img {
        height: 50px;
        margin: 0;
        margin-right: 50px;
    }

    a {
        color: #973B6D;
        text-decoration: none;
        margin: 0 30px;
    }

    button {
        width: 130px;
        border: 1px solid #973B6D;
        color: #973B6D;
        border-radius: 50px;
        background-color: transparent;
        font-weight: 400;
        font-size: 18px;
        margin: 0 15px;
    }
}