.container[class~=navbar] {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffffff8F;
  transition: all 0.3s ease-in-out;
}

.nav[class~=navbar-nav] {
  a[class~=nav-link] {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 400;
    color: #973B6D;
    font-family: 'Roboto', sans-serif;
  }
}

.logo {
  width: 90px;

  @media (max-width: 768px) {
    width: 60px;
  }
}

.active {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

.button {
  width: 130px;
  border: 1px solid #973B6D;
  color: #973B6D;
  border-radius: 50px;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  margin: 0 15px;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 768px) {
    padding: 0;
    margin: 10px;
    border: none;
    text-align: left;
    color: #973B6D;
  }
}