.container {
  position: relative;
  margin-bottom: 100px;

  @media (max-width: 992px) {
    margin-bottom: 50px;
  }

  img {
    width: 100%;
  }

  h2 {
    left: 20px;
    z-index: 1;
    bottom: 0px;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
  }
}