.container {
  padding-top: 150px;
  padding-bottom: 70px;
  background-image: url("../Images/bg4.png");

  form {
    width: min-content;
    background-color: #fff;

    @media (max-width: 992px) {
      width: auto;
    }
  }
}

.title {
  color: #6F4AB0;
  font-weight: 500;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
}

.input {
  width: 700px;
  outline: none;
  margin: 10px 0;
  border-radius: 26px;
  padding: 12px 30px;
  border: 1px solid #D3D7D8;
  background-color: #F1F5F7;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 992px) {
    width: 100%;
  }
}

.textArea {
  outline: none;
  width: 700px;
  height: 190px;
  resize: none;
  margin-top: 20px;
  border-radius: 26px;
  border: 1px solid #D3D7D8;
  background-color: #F1F5F7;
  overflow-x: hidden;
  padding: 12px 30px;

  @media (max-width: 992px) {
    width: 100%;
  }
}

.button {
  width: 180px;
  border: none;
  background-color: #6F4AB0;
  margin-top: 30px;
  padding: 5px;
  border-radius: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}