.background {
    // width: 100%;
    // min-height: 500px;
    background-image: url('../Images/services_background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}