.container {
  width: 90%;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  .itemsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .item {
      display: flex;
      padding: 0 50px;
      align-items: center;
      flex-direction: column;
    }
  }
}